/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /*  corpo da página */
  body {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background-color: #d3d3d36c;
  }

  /*navbar */
  nav{
    background-color: rgb(255, 255, 255);
  }

  /*Cards */
  .cards {
    padding-top: 4%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 250px 250px 250px; 
    column-gap: 200px;
    row-gap: 100px;
}
  
  .cards button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    box-shadow: 5px 5px 5px rgba(216, 216, 216, 0.164);
    border-radius: 20%;
    
  }

  .cards img {
    border-radius: 20%;
  }

  .cards button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 255, 51, 0.322);
   }

   .cards button:active {
    transform: translateY(-3px);
   }

